<div class="container">
  <p class="title">Προγραμματιστές</p>
</div>

<div class="page-container">

  <!-- Edward's Short Bio -->
  <mat-card class="dev-card">
    <mat-card-header>
      <div mat-card-avatar class="dev-header-image"></div>
      <mat-card-title>Εδουάρδος Πασενίδης</mat-card-title>
      <mat-card-subtitle>Μαθητής / Πληροφορική</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-img-small src="https://asset.file.jpg" alt="Photo"> -->
    <mat-card-content>
      <p>
        Είμαι Έλληνας μαθητής που ζεί στην Θεσσαλονίκη, την συμπρωτεύουσα της Ελλάδος. Οι γνώσεις συνεχώς βελτιώνονται
        ενώ μαθαίνω κι άλλες γλώσσες προγραμματισμού, frameworks, εργαλεία και τεχνολογίες. Μου αρέσει να γράφω κώδικα
        που βοηθάει τον κόσμο σε κάτι και εργαλεία που προφέρουν κάτι συναρπαστικό.
        <!-- Double Space -->
        <br> <br>
        Εάν θέλετε να επικοινωνήσετε μαζί μου:
        <br>
        Πατήστε αυτο το <a class="email-link" href="mailto:me@edpasenidis.tech">link</a> ή γράψτε μου e-mail
        στο <strong>me@edpasenidis.tech</strong>.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button onclick="location.href='https://github.com/pasenidis'" mat-button class="dev-btn">GitHub</button>
      <button onclick="location.href='https://gitlab.com/pasenidis'" mat-button class="dev-btn">GitLab</button>
      <button onclick="location.href='https://dev.to/pasenidis'" mat-button class="dev-btn">DEV.TO</button>
      <button onclick="location.href='https://edpasenidis.tech'" mat-button class="dev-btn">Website</button>
    </mat-card-actions>
  </mat-card>
</div>
