.container {
  text-align: center;
}

.container .title {
  margin: 0;
  margin-top: 15px;
  text-align: center;
  font-size: xx-large;
}

.description {
  margin-top: 15px;
}

.country-selector {
  margin-top: 25px;
}

.page-container {
	display: flex;
}

.country-container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.item {
  display: flex;
  padding: 9.5px;
  margin-block-start: 50px;
}

li {
  list-style-type: none;
}

@media only screen and (max-width: 600px) {
  .item {
    flex-flow: column;
  }
}


@media all and (max-width: 979px) {
   .page-container {
	  display: flex;
      align-items: center;
	  justify-content: center;
   }
   
   .country-container {
     padding: 9.5px;
   }
}
