<div class="container">
  <p class="title">Χώρες</p>
  <p class="description">Σε αυτήν την σελίδα παρουσιάζονται οι Top 100 χώρες που έχουν δηλώσει στοιχεία για ασθενείς.
  </p>
</div>

<div class="page-container">
  <ul *ngIf="countries">
    <div class="country-container">
      <li class="country-block" *ngFor="let country of countries; index as i">
        <div class="item">
          <mat-card class="card">
            <mat-card-title>{{ country.country }}</mat-card-title>
            <mat-card-subtitle>#{{ i + 1 }} </mat-card-subtitle>
            <img class="country-flag" mat-card-img-small
              src="https://www.countryflags.io/{{ country.countryInfo.iso2 }}/shiny/64.png"
              alt="Δεν υπάρχει διαθέσιμη εικόνα για προβολή">
            <mat-card-content>
              {{ country.cases }} περιστατικά <br> {{ country.deaths }} θάνατοι <br> {{ country.recovered}} ανάρρωσαν
            </mat-card-content>
          </mat-card>
        </div>
      </li>
    </div>
  </ul>
</div>
