* {
  box-sizing: border-box;
}

.container p {
  margin: 0;
  margin-top: 10px;
  text-align: center;
  font-size: xx-large;
}

.country-container {
  align-items: center;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(270px, auto));
}

.item {
  margin: 10px;
  grid-column: 1;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}
