<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <mat-icon>keyboard_arrow_down</mat-icon> Πλοήγηση
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['home']">
        <mat-icon>location_on</mat-icon> - Κεντρική σελίδα
      </a>
      <a mat-list-item [routerLink]="['list']">
        <mat-icon>language</mat-icon> - Χώρες
      </a>
      <a mat-list-item>
        <mat-icon>insert_chart</mat-icon> - Βαθμολογία
      </a>
      <a mat-list-item>
        <mat-icon>timeline</mat-icon> - Χρονολόγιο
      </a>
      <a mat-list-item>
        <mat-icon>warning</mat-icon> - Πληροφορίες
      </a>
      <a mat-list-item [routerLink]="['programmers']">
        <mat-icon>computer</mat-icon> - Προγραμματιστές
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>COVID-19.Tracker</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
