<div class="container">
  <p class="title">Κεντρική σελίδα</p>
  <p class="description">
    Καλώς ορίσατε στην ιστοσελίδα παρακολούθησης εξελίξεων σχετικά με τον νέο κορωνοϊό COVID-19. <br>
    Σε αυτήν την ιστοσελίδα διατίθεται διάγραμμα με τις χώρες που έχουν την χειρότερη κατάσταση. <br>
    Στο μενού στα αριστερά μπορείτε να περιηγηθείτε και να βρείτε περίσσοτερες πληροφορίες για οτιδήποτε σας ενδιαφέρει.
  </p>
  <div class="chart-panel">
    <div *ngIf="chart">
      <canvas id="canvas">{{ chart }}</canvas>
    </div>
  </div>
</div>
